streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters

langchain-chroma
chromadb

langchain-huggingface
langchain-groq

sentence-transformers
transformers

torch

pypdf

huggingface-hub
